@import url(./styles-light.css);
@import url(./styles-dark.css) (prefers-color-scheme: dark);

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
  font-family: "Ruda", sans-serif;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header nav"
      "header main"
      "footer footer";
}

#container > * {
    /*justify-self: center;*/
}

@media only screen and (max-width: 800px) {
  #container {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
      grid-template-areas:
          "header"
          "nav"
          "main"
          "footer";
  }

  #container header {
      margin-bottom: 1em;
  }

  #container > * {
    margin: 0 1.2em;
  }
}

#container header {
    margin: 3em 0 0 0.5em;
    grid-area: header;
}

#container header h1 {
  font-size: 2.4rem;
}

#container header #social-media {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

#container header #social-media li {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  #container header #social-media {
    float: none;
  }
  #container header #social-media li {
    margin: 0 1em 0 0;
  }
}

#container nav {
  border-bottom: solid 3px;
  padding: 1em 1em 0.5em 0;
  font-family: "Ruda", sans-serif;
  grid-area: nav
}

#container nav a {
  text-decoration: none;
}

#container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#container nav ul li {
  margin-left: 1em;
}

#container nav ul li a.active {
  border-bottom: 0.5em solid;
}

#container main {
  line-height: 1.5;
  max-width: 800px;
  overflow: hidden;
  grid-area: main;
}

#container main section#home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#home ul li {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

#container main section#home ul li h2 {
  margin: 0.2em 0;
}

#container main section#home span {
  color: #666666;
}

#container main section#list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#list ul li {
  padding: 0.5em 0;
  border-bottom: 1px solid #cecece;
}

#container main section#list ul li time, #container main section#list ul li span.count {
  float: right;
}

#container main section#list ul li:last-child {
  border-bottom: none;
}

#container main section.post-nav ul {
  margin: 0.5em 0;
  padding: 0.5em 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f7f7f7;
  font-size: 0.9em;
}

#container main section.post-nav ul li:last-child {
  text-align: right;
}

#container main article > pre {
  overflow-x: auto;
  padding: 0.8em;
  font-size: 0.9em;
}

#container main article .highlight pre {
  overflow-x: auto;
  font-size: 0.9em;
  padding: 0.8em;
}

#container main article pre code {
  font-size: 0.9em;
}

#container main article p code {
  padding: 0.2em;
  font-size: 0.9em;
}

#container main article p kbd {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  line-height: 1em;
  color: #555555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc #cccccc #bbbbbb;
  border-image: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main h1 {
  margin-bottom: 1rem;
}

#container footer {
  border-top: solid 1px #cecece;
  grid-area: footer;
}

#container footer h6 {
  font-size: 0.8em;
}

#container footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}


#container footer ul li:not(:first-child) {
  margin-left: 1em;
}

#container footer ul li a.active {
  border-bottom: 0.2em solid;
}

#container textarea, input {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: #fff;
border: 1px solid #cecece;
border-radius: 3px;
color: #000000;
/*display: -webkit-inline-box;*/
display: -ms-inline-flexbox;
display: inline-flex;
font-size: 14px;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
line-height: 24px;
padding: 8px;
position: relative;
box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
max-width: 100%;
width: 100%;
}

#container button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  color: #666666;
  /*display: -webkit-inline-box;*/
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

#container button:hover {
 border: solid #cecece 2px;
 text-decoration: none;
}

.meta-aside, #container main section#home ul li aside, #container main article aside {
  margin: 0.5em 0;
  font-family: "Ruda", sans-serif;
  color: #707070;
  font-size: 0.8em;
}

#container main article aside.sidenote {
    float: right;
    margin-left: 4px;
    width: 400px;
    background-color: #f9f9f9;
    padding: 0 0.8rem;
}


@media only screen and (max-width: 800px) {
    #container main article aside.sidenote {
        float: none;
        margin: 0.5em 0;
        width: unset;
    }
}

.meta-aside ul, #container main section#home ul li aside ul, #container main article aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.meta-aside ul li, #container main section#home ul li aside ul li, #container main article aside ul li {
  margin: 0;
  padding: 0;
}

.image, figure img, img {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

.logo {
    width: unset;
}

/**
:not(#home) and :not(#list) is avoiding full width image in list of posts, e.g. home and taxonomy pages
 */
header .full-image, header figure.full img, header img[src*="full"],
article .full-image, article figure.full img, article img[src*="full"],
section:not(#list):not(#home) .full-image, section:not(#list):not(#home) figure.full img, section:not(#list):not(#home) img[src*="full"] {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {
  header .full-image, header figure.full img, header img[src*="full"],
  article .full-image, article figure.full img, article img[src*="full"],
  section:not(#list):not(#home) .full-image, section:not(#list):not(#home) figure.full img, section:not(#list):not(#home) img[src*="full"] {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.mid-image, figure.mid img, img[src*="mid"] {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {
  .mid-image, figure.mid img, img[src*="mid"] {
    width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;
  }
  @media only screen and (max-width: 800px) {
    .mid-image, figure.mid img, img[src*="mid"] {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

.float-image, figure.float img, img[src*="float"] {
  width: 300px;
  float: left;
  margin: 0 1em 1em -3em;
  box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px) {
  .float-image, figure.float img, img[src*="float"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.float-image-right, figure.float-right img, img[src*="float-right"] {
  width: 300px;
  float: right;
  margin: 0 -3em 1em 1em;
  box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px) {
  .float-image-right, figure.float-right img, img[src*="float-right"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

figure {
  margin: 0;
}

figure figcaption p {
  margin-top: 0.3em;
  font-size: 0.8em;
  font-style: italic;
}

figure.full {
  margin: 0;
}

figure.mid {
  margin: 0;
}

figure.float {
  margin: 0;
  float: left;
}

figure.float-right {
  margin: 0;
  float: right;
}

figure.float-right figcaption {
  margin-left: 1em;
}

table {
  width: 100%;
  border-bottom: solid 1px #cecece;
}

table thead {
  background-color: #cecece;
}

blockquote {
  margin: 1em;
  border-left: solid 0.1em;
  padding: 0.5em 2em;
  position: relative;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

blockquote::before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.75em;
  color: rgba(192, 192, 192, 0.3);
  position: absolute;
  left: 6px;
  top: 0;
}

@media only screen and (max-width: 800px) {
  blockquote {
    margin: 1em 0;
    padding: 0.5em;
  }
}

dl dd {
  font-style: italic;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 0 1em;
}

.tldr {
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    background-color: #f9f9f9;
    color: #095a5e;
}

.tldr h3 {
    margin-top: 0;
}

.tldr ul {
    margin: 0;
}
